.square-payment{
    width: 1035px;
    height: 480px;
    background: #FFFFFF;
    border: 2px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 60px;
}
.flex-between-payment{
    display: flex;
    justify-content: space-between;
}
.booking-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin: 20px 40px 0px;
    color: #000000;
}
.dewe-payment{
    margin: 20px 40px;
    height: 50px;
    width: 150px;
}
.flex-end-payment{
    display: flex;
    justify-content: flex-end;
    margin: 0px 40px;
    padding: 0px;
}
.date-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #878787;
}
.flex-payment{
    display: flex;
}
.bukti-payment{
    margin: 0px 40px 20px;
    width: 150px;
    height: 150px;
}
.desc-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-left: 40px;
    margin-right: 60px;
}
.trip-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
    position: relative;
    left: 350px;
    margin-right: 80px;
    z-index: 10;
}
.trip-payment-second{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
    position: relative;
    left: 365px;
    margin-right: 88px;
    z-index: 11;
}
.desc-fill-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #959595;
    margin-left: 40px;
    position: relative;
    z-index: 1;
}
.trip-fill-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #959595;
    position: relative;
    left: 430px;
    z-index: 10;
}
.trip-fill-payment-second{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #959595;   
    position: absolute;
    z-index: 1;
    left: 780px;
}
.desc-payment-two{
    margin-left: 40px;
    margin-right: 375px;
}
.trip-payment-two{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
    position: relative;
    left: 15px;
    margin-right: 40px;
}
.trip-payment-transportation{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
    position: relative;
    left: 15px;
    margin-right: 75px;
}
.flex-payment-marginTop{
    display: flex;
    margin-top: 0px;
}
.desc-fill-payment-two{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #959595;
    margin-left: 40px;
}
.trip-fill-payment-two{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #959595;
    position: relative;
    left: 430px;
    z-index: 10;
}
.waiting-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;  
    text-align: center;
    color: #EC7A7A;
}
.table-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #B1B1B1;
}
.qty{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.price-payment{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FF0000;
}
.payment-success{
    width: 213px;
    height: 50px;
    background: #FFAF00;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.waiting-approve-buttonss{
    background:white;
    opacity: 0.8;
    border-radius: 2px;
    padding: 5px;
}
.approve-paymentss{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF9900;
}
.alert-success-pay{
    margin:50px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}
.alert-upload{
    margin: 30px auto 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}
.upload-proof{
    font-family: Avenir;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #818181;
    margin-left: 60px;
}
.trip-fill-payment-second-modal{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #959595;   
    position: absolute;
    z-index: 1;
    left: 605px;
}