.data{
    height: 1400px;
    background-color: #E5E5E5;
    margin-top: -260px;
    text-align: center;
    padding-top: 370px;
}
.fill{
    display: flex;
    justify-content: center;
    margin-top:30px;
    text-align: center;
}
.title-home{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    color: #000000;
    margin-bottom: 50px;
}
.flex-evenly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-tour{
    width: 340px;
    height: 350px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-right: 20px;
    margin-left: 20px;
}
.flex-between{
  display: flex;
  justify-content: space-around;  
  margin-top: -30px;
}
.flex-between-harga{
    display: flex;
    justify-content: space-around;  
    margin-top: 20px;
  }
.data-title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #000000;
}
.data-price{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFAF00;
}
.data-location{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #878787;
}
.data-addTrip{
    height: 1400px;
    background-color: #E5E5E5;
    margin-top: -260px;
    text-align: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
}
.title-home-addTrip{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 22px;
    color: #000000;
}
.button-addTrip{
    background: #FFAF00;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}
.isi-button-addTrip{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    color: #FFFFFF;
}

